<h2>Todo List</h2>

<form [formGroup]="todoForm" (ngSubmit)="onSubmit(todoForm.value)">
    <div>
        <label>Title</label>
        <input type="text" formControlName="title">
    </div>
    <div>
        <label>detail</label>
        <input type="text" formControlName="detail">
    </div>
    <button type="submit">Registed</button>
</form>

<ul *ngFor="let todo of todoList">
    <li>
        <h4>{{ todo.title }}</h4>
        <p>{{ todo.detail }}</p>
        <button (click)="deleteTodo(todo.id)">
            Delete
        </button>
    </li>
</ul>
